.container {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #202020;
}
main {
  background-color: #202020;
}

.Site {
  background-color: #202020;
}
